matplotlib
spacy
django
labMTsimple
# -e git+ssh://git@github.com/andyreagan/labMT-simple.git#egg=labMTsimple
# kitchentable
#kitchentable
tqdm
numpy
#sklearn
#The 'sklearn' PyPI package is deprecated, use 'scikit-learn'rather than 'sklearn' for pip commands.Here is how to fix this error in the main use cases:- use 'pip install scikit-learn' rather than 'pip install sklearn'- replace 'sklearn' by 'scikit-learn' in your pip requirements files(requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
scikit-learn
scipy
rdflib
#hashlib
#integriert in Python?
lz4

#?
marisa-trie